<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Conhecimentos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfólio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Sobre Mim</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Redes Sociais</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bem-vindo(a) ao meu Portfólio!</div>
            <div class="intro-heading">É um prazer conhecer você</div>
            <a href="#services" class="page-scroll btn btn-xl">Saiba Mais</a>
        </div>
    </div>
</header>
